@mixin fullabsolute($left,$top,$w,$h,$zindex){
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zindex;
  @include size($w,$h);
}

/*Common setting for all page*/
html,body{
  width: 100%;
  height: 100%;
}
body{
  background: url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
}

.logo{
  @include size(2.18rem,0.73rem);
}
.pin{
  //opacity: 0;
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  @include size(100%,calc(100% - 1.3rem));
  overflow: hidden;
  @include transition(opacity 1s);
  display: none;
  &.current{
    display: block;
    //opacity: 1;
    z-index: 1;
  }
}


.btn{
  text-align: center;
  display: block;
  //width: 2.7rem;
  margin: 0 auto;
  //padding: 0.2rem 1rem;
  background: #000;
  color: #fff;
  font-size: 0.32rem;
  &:active{
    background: #000;
    color: #ccc;
  }
}

//for loading
.loading-wrap{
  display: none;
}

//for wrapper
.wrapper{
  @include fullabsolute(0,0,100%,100%,1);
}
.container{
  @include fullabsolute(0,0,100%,100%,10);
}

//for border frame
.border-frame{
  @include fullabsolute(0,0,100vw,100vh,5);
  .bf{
    @include fullabsolute(0,0,100vw,100vh,1);
    box-sizing: border-box;
    border-image: -webkit-linear-gradient(-45deg,#a278c3, #9ea4df,#a278c3) 30 30;
    border-image: -moz-linear-gradient(-45deg,#a278c3, #9ea4df,#a278c3) 30 30;
    border-image: linear-gradient(-45deg,#a278c3, #9ea4df,#a278c3) 30 30;
    border-style: solid;
    border-width: 2px;
    &.bf-2{
      @include fullabsolute(4px,4px,calc(100vw - 8px),calc(100vh - 8px),1);
    }
    &.bf-3{
      @include fullabsolute(8px,8px,calc(100vw - 16px),calc(100vh - 16px),1);
    }
  }
}

